a.out
bench_standard
bench_tarka_bin
diagnostic_test_bin
hack
hack_standard_is_now_safe
hack_std
hack_tarka
overflow_test_bin
stress_test_bin
tarka_test_bin
test_tarka
unsafe_test
unsafe_test_bin
*.o
*.s
chibicc/chibicc
chibicc/*.o
chibicc/stage2
chibicc/tmp*
chibicc/test/*.exe
